
body{
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #3b82f6;
  padding: 0px;
  margin: 0px;
}
.root{
  margin: 0px;
}
h1{
  font-size: clamp(1.2rem, 10vw, 2rem); 
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
  color: #000000;
  margin: 0px auto 10px auto;
}
h4{
  font-size: clamp(1rem, 2vw, 1.2rem);
  margin: 10px 0px;
}
p{
  font-size: 1.5rem;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
  margin: 10px 5px 20px;
}
header{
  width: 100vw;
  margin: 0px;
  padding: 10px 0px 0px 0px;
  background-color: #f3f7fe;
}
nav{
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}
button{
  border: none;
  cursor: pointer;
  text-align: center;
}
span{
  color: #575757;
}
.tab-container{
  width: 100vw;
}
.tab-button{
  margin: 0px 10px;
  padding: 0px 10px;
  border-radius: 10px 10px 0px 0px;
  background-color: transparent;
}
.tab-button h4{
  color: #868686;
}
.tab-button:hover{

}
.tab-button-selected{
  margin: 0px 10px;
  padding: 0px 10px;
  border-radius: 10px 10px 0px 0px;
  background-color: #3b82f6;
  color: #ffffff;
}
.tab-button-selected span{
  color: #d3d3d3;
}

.todo-card{
  width: min(85%, 600px);
  margin: 5px auto;
  padding: 10px 0px;
  border-radius: 10px;
  background: #e6e6e6;
}
.card-container{
  background-color: #3b82f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0px 0px ;
}
.todo-btn{
  margin: 10px 10px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  width: 60px;
  height: 35px;
  transition: 0.3s;
}

.done{
  color: #3b82f6;
}

.done:hover{
  background-color: #3b82f6;
  box-shadow: 0 0 0 5px #3b83f65f;
  color: #fff;
}
.delete{
  color: #ff0000;
}
.delete:hover{
  background-color: #ff0000;
  box-shadow: 0 0 0 5px #ff00005f;
  color: #fff;
}

.input-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  height: 40px;
}

.input-container input{
  height: 100%;
  width: min(80%, 400px);
  padding: 0px 15px;
  border: none;
  border-radius: 10px 0px 0px 10px;
}
.input-container button{
  border: none;
  height: 100%;
  width: 50px;
  border-radius: 0px 10px 10px 0px;
}
.input-container img{
  height: 20px;
}
